.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;

}

.header-search {
    display: flex;
    flex: 1;
    justify-content: center;

}

.header-search-input {
    height: 12px;
    padding: 10px;
    border: none;
    outline: none;
    width: 100%;
}

.fa-magnifying-glass {
    padding: 5px;
    height: 22px;
    background-color: #cd9042;
}

.header-nav {
    display: flex;
    justify-content: space-evenly
}

.header__option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    color: white;

}

.header__option_one {
    font-size: 10px;

}

.header__option_two {
    font-size: 13px;
    font-weight: 500;

}

.header__option-shoppingBasket {
    display: flex;
    align-items: center;
    color: white;
}

.fa-cart-plus {
    color: white;
}

.header_basketCount {
    margin-left: 10px;
    margin-right: 10px;
}

@media(max-width:600px) {
    .header-logo {

        margin: 0 12px;
    }

    #second__option {
        display: none;
    }

    #third__option {
        display: none;
    }
}

@media(max-width:450px) {
    .header-logo {
        width: 100px;
        margin: 0 8px;
    }

    .header__option_one {
        font-size: 7px;
    }

    .header__option_two {
        font-size: 10px;
    }

    .fa-cart-plus {
        font-size: 12px;
    }

    .header_basketCount {
        margin-left: 7px;
        margin-right: 7px;
    }

}

@media(max-width:400px) {
    .header-logo {
        width: 100px;
        margin: 0 5px;
    }


}